.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50% 50%;
    height: calc(100vh - 30px);
}

.logo {
    grid-column: 2/3;
    margin-bottom: 30px;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: bottom; 
    background-image:url(https://loremflickr.com/272/92);
}

.search-container {
    grid-column:2/3;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 44px;
    max-width: 561px;
    border-radius: 30px;
    overflow: hidden;
    display: inline-flex;
}

#search-lable {
    width: 100%;
    font-size: 1.6rem;
    padding-left: 20px;
    border: none;
}

#search-lable:focus,
.search-button:focus
{
    outline: none;
}

.search-button {
    font-size: 1.4rem;
    border: none;
    padding-right: 20px;
    background-color: white;
}
  
.search-button:hover {
    cursor: pointer;
    color: #0099cc;
}