.container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 30% 15% 20% 35%;
    height: calc(100vh - 30px);
}

.logo {
    grid-column: 2/3;
    margin-bottom: 30px;
    background-repeat:no-repeat;
    background-position-x: center;
    background-position-y: bottom; 
    background-image:url(https://loremflickr.com/272/92);
}

.search-container {
    grid-column:2/3;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    height: 44px;
    max-width: 561px;
    border-radius: 30px;
    overflow: hidden;
    display: inline-flex;
}

#search-lable {
    width: 100%;
    font-size: 1.6rem;
    padding-left: 20px;
    border: none;
    background-color: #ccc;
}

#search-lable:focus,
.search-button:focus
{
    outline: none;
}

.search-button {
    font-size: 1.4rem;
    border: none;
    padding-right: 20px;
    background-color: #ccc;
}
  
.search-button:hover {
    cursor: pointer;
    color: #0099cc;
}

/* .loading {
    grid-column: 2/3;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.836);
    padding-top: 20rem;
}

.icon_loading {
    color: white;
    font-size: 4rem;
    -webkit-animation: spin 2s linear infinite; 
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */

.info { 
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #eee;
}
.name {
    padding-left: 30px;
    font-size: 1.5rem;
    color: #333;
    font-family: sans-serif;
}

.name .status {
    padding-top: 10px;
    font-size: 1.2rem;
}
